project:
  type: website
  output-dir: docs

website:
  title: "Stanberley | Applied Computing (FinTech)"
  navbar:
    logo: images/logo.png
    left:
      - text: Home
        href: index.qmd
      - text: About
        href: about.qmd
      - text: Reflection
        href: reflection.qmd
        

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    toc-depth: 3
    toc-location: left



