/* css styles */
body {
    font-family: Papyrus, Fantasy;
    font-size: 16px;
    background-color: #f5f5f5; 
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1,h2{
  font-size: 16pt;
}
h3,h4{
  font-size: 14pt;
}

.navbar-brand img {
  height: 70px;
  max-height: none;
}

html, body {
  background-color: #eef4fb;
}

.quarto-container {
  background-color: #eef4fb;
}