/* css styles */
body {
    font-family: Lucida Handwriting, Cursive;
    font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1,h2{
  font-size: 16pt;
}
h3,h4{
  font-size: 14pt;
}

.navbar-brand img {
  height: 70px;   /* try 60px first */
  max-height: none;
}